.spinner {
	opacity: 0;
	width: 5rem;
	height: 5rem;
	border: 2px solid red;

	&.show {
		opacity: 1;
		animation: Spin 5s linear infinite;
	}
}

@keyframes Spin {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}