@import "./global/UI/styles/uiBase.scss";

* {
	margin: 0;
	font-family: $primaryFont;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    /* Ensures that autofill styles don't get applied while user is still on page */
    transition: all 99999s 99999s;
}

* {
	scroll-behavior: smooth;

	@include ScrollbarWidth(1rem);
    
    @include ScrollbarTrack();
    
    @include ScrollbarThumb();
}

html {
    color: $textPrimary;
}

html[data-scroll-locked="true"] {

	body {
		position: fixed;
		overflow-y: scroll;
	}
}

body {
	background-color: $bodyBgPrimary;
    min-height: 100vh;
}