@import "../../styles/uiBase.scss";

$btnTransitionDuration: 0.25s;

.gradientBtn,
.darkToColorBtn {
	background: $gradientBgColored;
	width: 100%;
	text-align: center;
	padding: 1.25rem 1.5rem;
	border-radius: 0.75rem;
	transition: all $btnTransitionDuration;
	font-weight: bold;

	&:hover {
		box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.5);
		transform: translateY(-0.15rem);
	}
}

.darkToColorBtn {
	position: relative;
	background: transparent;

	p {
		position: relative;
		z-index: 3;
	}

	&::before,
	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-radius: inherit;
	}

	&::before {
		background: $gradientBgColored;
		z-index: 1;
		opacity: 0;
		transition: opacity 0s;
		transition-delay: $btnTransitionDuration;
	}

	&::after {
		background: $gradientBgDark;
		z-index: 2;
		transition: opacity $btnTransitionDuration;
	}

	&:hover {
		transform: none;

		&::before {
			opacity: 1;
			transition-delay: 0s;
		}
	
		&::after {
			opacity: 0;
		}
	}
}